footer{
position: fixed;
left: 0;
right: 0;
bottom: 0;
}
.table-principal{
    margin-top:10%;
    margin-bottom:18%;
}
.addcredit{
    margin-top:10%;
    margin-bottom: 10%;
}
.buttonadd{
    margin: auto ;
    display: flex ;
}
.card-title{
    color:#000090;
    font-weight: bold;
}
.line{
    border-bottom: red solid 2px;
    color: red;
    background-color: red;
    width: 50px;
}
.card-text{
    color:#000090;
    
}
.cardtop{
    margin-top:-15%;
}
.card{
    padding: 25px;
}

.textbol{
    font-weight: bold;
}
.second-card{
    margin-top: 40px;
    margin-bottom: 40px;;
}
.list-group-item{
    color:#000090;
}
.tablenoborder{ 
    border: transparent 1px solid; 
   }
.cardbuttom{
    margin-bottom: 40px;
}
.ftr{
    margin-bottom: 20%;
}
.login{
    margin-top: 10%;
}
.w-5{
    width: 20px;
}
.pagination{
    margin-top: 2%;
}